@model EmailSender.Dto.TopicsGetDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class='checkbox_text' id='response_text' style='display : none'> Your subscriptions were changed </span>
<hr id='response_text_hr' style='display : none'>

<span class='checkbox_text' id='another_text_sub'> Here are topics you can subscribe to and get daily articles about :</span>
<br>
<br>
<div id='subscription_for_user'>
    @foreach (var item in Model.topicsToAdd)
    {
        var itemText = item.Topic_name + "text"; 
        <p><input type='checkbox' name='@item.TopicId' value='@item.Topic_name' class='option-input' id='@item.Topic_name'><span class='checkbox_text' id=@itemText> @item.Topic_name </span></p>
    }
</div>
<hr id="hr" />
<span class='checkbox_text' id='another_text_unsub'>And here you can unsubscribe from topics if you no longer want to receive emails:</span>
<br>
<br>
<div id='unsubscription_for_user'>
    @foreach (var item in Model.topicsToRemove)
    {
        var itemText = item.Topic_name + "text";
        <p><input type='checkbox' name='@item.TopicId' value='@item.Topic_name' class='option-input' id='@item.Topic_name'><span class='checkbox_text' id=@itemText> @item.Topic_name </span></p>
    }
</div>
<input type="submit" name="submit" value="submit" id="subs_submit">
